.list {
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
  border-radius: 70px;
  box-shadow: 2px 2px 4px 4px rgba(61, 57, 57, 0.2);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.avatar {
  margin-right: 15px;
  margin-left: 15px;
}

.name {
  font-weight: 700;
  font-size: 20px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-left: 20px;
}